asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
defusedxml==0.7.1
dj-database-url==2.3.0
Django==4.2.16
django-allauth==65.3.1
django-bootstrap5==24.3
django-model-utils==5.0.0
django-notifications-hq==1.7.0
gunicorn==23.0.0
idna==3.10
jsonfield==3.1.0
oauthlib==3.2.2
packaging==24.2
pillow==11.1.0
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
python-decouple==3.8
python3-openid==3.2.0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==75.8.0
sqlparse==0.5.3
swapper==1.4.0
typing_extensions==4.12.2
urllib3==2.3.0
whitenoise==6.8.2
