{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="split-page container-fluid vh-100 d-flex flex-column">
  <!-- Top Section -->
  <div class="left-section d-flex flex-column justify-content-between align-items-center flex-grow-1" >
    <div class="header-container">
      <h1 class="lav-header">LaVérité</h1>
      <h3 class="lav-subheader">
        Creative <span class="square-bullet"></span> Sustainable <span class="square-bullet"></span> Ethical <span class="square-bullet"></span>Apparel
      </h3>
    </div>
    <a href="{% url 'home' %}" class="btn btn-black-yellow">Create</a>
  </div>

  <!-- Bottom Section -->
  <div class="right-section d-flex flex-column justify-content-start align-items-center flex-grow-1">
    <a href="{% url 'account_login' %}" class="btn btn-yellow-black">Login</a>
  </div>
</div>

{% endblock %}












