{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="split-page container-fluid vh-100 d-flex flex-column">
  <!-- Top Section -->
  <div class="left-section d-flex flex-column justify-content-between align-items-center flex-grow-1">
    <div class="header-container">
      <h1 class="lav-header fade-in" style="animation-delay: 1.6s;">LaVérité</h1>
      <h3 class="lav-subheader">
        <span class="fade-in-drop" style="animation-delay: 2.0s;">Creative</span>
        <span class="square-bullet fade-in" style="animation-delay: 5s;"></span>
        <span class="fade-in-drop" style="animation-delay: 2.5s;">Sustainable</span>
        <span class="square-bullet fade-in" style="animation-delay: 5s;"></span>
        <span class="fade-in-drop" style="animation-delay: 3.0s;">Ethical</span>
        <span class="square-bullet fade-in" style="animation-delay: 5s;"></span>
        <span class="fade-in-drop" style="animation-delay: 3.5s;">Apparel</span>
      </h3>           
    </div>
    <a href="{% url 'create' %}" class="btn btn-black-yellow fade-in" style="animation-delay: 2s;">Create</a>
  </div>

  <!-- Bottom Section -->
  <div class="right-section d-flex flex-column justify-content-start align-items-center flex-grow-1">
    <a href="{% url 'account_login' %}" class="btn btn-yellow-black fade-in" style="animation-delay: 2.2s;">Login</a>
    
    <!-- Info Boxes Section -->
    <div class="info-boxes container mt-4 fade-in" style="animation-delay: 2.5s;">
      <div class="row g-4">
        <!-- Box 1 -->
        <div class="col-md-6 col-lg-3">
          <div class="info-box d-flex flex-column align-items-center">
            <img src="{% static 'images/creativity.jpg' %}" alt="Creativity" class="info-image">
            <h4 class="info-title">Creativity</h4>
            <p class="info-description">Unleash your imagination with endless customisation options.</p>
            <a href="{% url 'about' %}" class="btn btn-learn-more mt-auto">Learn More</a>
          </div>
        </div>

        <!-- Box 2 -->
        <div class="col-md-6 col-lg-3">
          <div class="info-box d-flex flex-column align-items-center">
            <img src="{% static 'images/sustainablity.jpg' %}" alt="Sustainability" class="info-image">
            <h4 class="info-title">Sustainability</h4>
            <p class="info-description">Crafted with eco-friendly processes and materials.</p>
            <a href="{% url 'about' %}" class="btn btn-learn-more mt-auto">Learn More</a>
          </div>
        </div>

        <!-- Box 3 -->
        <div class="col-md-6 col-lg-3">
          <div class="info-box d-flex flex-column align-items-center">
            <img src="{% static 'images/ethics.png' %}" alt="Ethics" class="info-image">
            <h4 class="info-title">Ethics</h4>
            <p class="info-description">Dedicated to ethical practices for people and the planet.</p>
            <a href="{% url 'about' %}" class="btn btn-learn-more mt-auto">Learn More</a>
          </div>
        </div>

        <!-- Box 4 -->
        <div class="col-md-6 col-lg-3">
          <div class="info-box d-flex flex-column align-items-center">
            <img src="{% static 'images/fashion.png' %}" alt="Fashion" class="info-image">
            <h4 class="info-title">Fashion</h4>
            <p class="info-description">Stay stylish with designs that reflect your unique personality.</p>
            <a href="{% url 'about' %}" class="btn btn-learn-more mt-auto">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}







